.sidebar {
  background-color: tan;
  width: 30%;
  float: left;
}

.column {
  width: 30%;
  float: left;
  background-color: cyan;
}

.column2 {
  width: 30%;
  float: left;
  background-color: purple;
}

img {
  float: left;
  height: 40%;
  width: 40%;
}

.fix {
  text-align: center;
}
